### 1. Import lib

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### 1. Add data

In [1]:
data = pd.read_csv('movies_data_processed.csv')
data

NameError: name 'pd' is not defined

In [44]:
# # Danh sách các cột cần chuyển đổi
# columns_convert = ['no_of_votes', 'gross', 'budget']

# # Xóa ký tự không phải số, chỉ giữ lại số
# data[columns_convert] = data[columns_convert].apply(lambda x: x.str.extract(r'(\d+(?:,\d+)*)', expand=False))

# # Chuyển đổi sang kiểu số, xóa dấu phẩy
# data[columns_convert] = data[columns_convert].apply(lambda x: pd.to_numeric(x.str.replace(',', ''), errors='coerce'))

In [45]:
data.head()

,name,genres,type,rating,no_of_votes,meta_score,release_date,gross,budget,countries,url,ROI,result
0,Attack on Titan,"Action Epic, Adult Animation, Anime, Shōnen, S...",TV Series,9.1,591000.0,NaN,2013,NaN,NaN,Japan,https://www.imdb.com/title/tt2560140/?ref_=sr_...,NaN,Success
1,Love Hurts,"Martial Arts, Action, Comedy",Movie,5.3,6800.0,34.0,2025,17235040.0,18000000.0,United States,https://www.imdb.com/title/tt30788842/?ref_=sr...,-0.042498,Fail
2,The Quick and the Dead,"Action, Drama, Romance, Thriller, Western",Movie,6.5,107000.0,49.0,1995,18636537.0,32000000.0,"United States, Japan",https://www.imdb.com/title/tt0114214/?ref_=sr_...,-0.417608,Success
3,The Equalizer,"Cop Drama, Police Procedural, Action, Crime, D...",TV Series,5.6,19000.0,NaN,2021,NaN,NaN,United States,https://www.imdb.com/title/tt11242246/?ref_=sr...,NaN,Fail
4,Goosebumps,"Teen Horror, Action, Adventure, Comedy, Drama,...",TV Series,6.7,15000.0,NaN,2023,NaN,NaN,"United States, Canada, France",https://www.imdb.com/title/tt17720272/?ref_=sr...,NaN,Fail

In [46]:
data.isnull().sum()

name               0
genres             0
type               0
rating           244
no_of_votes      244
meta_score      4348
release_date      67
gross           4461
budget          4887
countries         36
url                0
ROI             5140
result             0
dtype: int64

In [47]:
cols_with_null = ['rating', 'no_of_votes','release_date', 'countries']

# Lọc ra các hàng mà tất cả các cột trên đều là NaN
null_rows = data[data[cols_with_null].isna().all(axis=1)]

print(null_rows)

        name     genres       type  rating  no_of_votes  meta_score  \
6849  Ad Lib  Talk Show  TV Series     NaN          NaN         NaN

     release_date  gross  budget countries  \
6849          NaN    NaN     NaN       NaN

                                                    url  ROI   result
6849  https://www.imdb.com/title/tt7658146/?ref_=sr_...  NaN  Unknown

Xóa trường dữ liệu bị trống chiếm ít hơn 10% dữ liệu

In [48]:
#Xóa trường dữ liệu bị trống chiếm ít hơn 10% dữ liệu
data = data.dropna(subset = ['rating', 'no_of_votes', 'release_date', 'countries'])
data

,name,genres,type,rating,no_of_votes,meta_score,release_date,gross,budget,countries,url,ROI,result
0,Attack on Titan,"Action Epic, Adult Animation, Anime, Shōnen, S...",TV Series,9.1,591000.0,NaN,2013,NaN,NaN,Japan,https://www.imdb.com/title/tt2560140/?ref_=sr_...,NaN,Success
1,Love Hurts,"Martial Arts, Action, Comedy",Movie,5.3,6800.0,34.0,2025,17235040.0,18000000.0,United States,https://www.imdb.com/title/tt30788842/?ref_=sr...,-0.042498,Fail
2,The Quick and the Dead,"Action, Drama, Romance, Thriller, Western",Movie,6.5,107000.0,49.0,1995,18636537.0,32000000.0,"United States, Japan",https://www.imdb.com/title/tt0114214/?ref_=sr_...,-0.417608,Success
3,The Equalizer,"Cop Drama, Police Procedural, Action, Crime, D...",TV Series,5.6,19000.0,NaN,2021,NaN,NaN,United States,https://www.imdb.com/title/tt11242246/?ref_=sr...,NaN,Fail
4,Goosebumps,"Teen Horror, Action, Adventure, Comedy, Drama,...",TV Series,6.7,15000.0,NaN,2023,NaN,NaN,"United States, Canada, France",https://www.imdb.com/title/tt17720272/?ref_=sr...,NaN,Fail
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7989,Chuka,Western,Movie,6.3,1100.0,NaN,1967,NaN,NaN,United States,https://www.imdb.com/title/tt0061477/?ref_=sr_...,NaN,Fail
7990,Unforgiven,"Period Drama, Tragedy, Drama, Western",Movie,8.2,451000.0,85.0,1992,159167799.0,14400000.0,United States,https://www.imdb.com/title/tt0105695/?ref_=sr_t_3,10.053319,Success
7991,The Duel,"Drama, Western",Movie,5.8,12000.0,42.0,2016,20672.0,10000000.0,United States,https://www.imdb.com/title/tt2436682/?ref_=sr_...,-0.997933,Fail
7992,Calamity Jane,"Classic Musical, Musical, Romance, Western",Movie,7.2,11000.0,74.0,1953,7150.0,NaN,United States,https://www.imdb.com/title/tt0045591/?ref_=sr_...,NaN,Success
7993,Spirit: Stallion of the Cimarron,"Animal Adventure, Hand-Drawn Animation, Advent...",Movie,7.2,90000.0,52.0,2002,122563539.0,80000000.0,"United States, Canada",https://www.imdb.com/title/tt0166813/?ref_=sr_...,0.532044,Success

In [49]:
data.isnull().sum()

name               0
genres             0
type               0
rating             0
no_of_votes        0
meta_score      4043
release_date       0
gross           4144
budget          4597
countries          0
url                0
ROI             4822
result             0
dtype: int64