In [1]:
import pandas as pd

movie_df = pd.read_csv('movies_data.csv')
movie_df.head()

,name,genres,type,rating,no_of_votes,meta_score,release_date,gross,bugdet,countries,url
0,Attack on Titan,"Action Epic, Adult Animation, Anime, Shōnen, S...",TV Series,9.1,591K,NaN,"September 28, 2013 (United States)",NaN,NaN,Japan,https://www.imdb.com/title/tt2560140/?ref_=sr_...
1,Love Hurts,"Martial Arts, Action, Comedy",Movie,5.3,6.8K,34.0,"February 7, 2025 (United States)","$17,235,040","$18,000,000 (estimated)",United States,https://www.imdb.com/title/tt30788842/?ref_=sr...
2,The Quick and the Dead,"Action, Drama, Romance, Thriller, Western",Movie,6.5,107K,49.0,"February 10, 1995 (United States)","$18,636,537","$32,000,000 (estimated)","United States, Japan",https://www.imdb.com/title/tt0114214/?ref_=sr_...
3,The Equalizer,"Cop Drama, Police Procedural, Action, Crime, D...",TV Series,5.6,19K,NaN,"February 7, 2021 (United States)",NaN,NaN,United States,https://www.imdb.com/title/tt11242246/?ref_=sr...
4,Goosebumps,"Teen Horror, Action, Adventure, Comedy, Drama,...",TV Series,6.7,15K,NaN,"October 13, 2023 (United States)",NaN,NaN,"United States, Canada, France",https://www.imdb.com/title/tt17720272/?ref_=sr...

In [2]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7994 entries, 0 to 7993
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          7994 non-null   object
 1   genres        7994 non-null   object
 2   type          7994 non-null   object
 3   rating        7750 non-null   float64
 4   no_of_votes   7750 non-null   object
 5   meta_score    3646 non-null   float64
 6   release_date  7936 non-null   object
 7   gross         3533 non-null   object
 8   bugdet        3237 non-null   object
 9   countries     7958 non-null   object
 10  url           7994 non-null   object
dtypes: float64(2), object(9)
memory usage: 687.1+ KB