In [104]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MultiLabelBinarizer, LabelEncoder

In [105]:
# Đọc file CSV
file_path = "movies_data_processed.csv"
df = pd.read_csv(file_path)

# Kiểm tra dữ liệu
df.head()

,name,genres,type,rating,no_of_votes,meta_score,release_date,gross,budget,countries,url,ROI,result
0,Attack on Titan,"Action Epic, Adult Animation, Anime, Shōnen, S...",TV Series,9.1,591000.0,NaN,2013.0,NaN,NaN,Japan,https://www.imdb.com/title/tt2560140/?ref_=sr_...,NaN,Success
1,Love Hurts,"Martial Arts, Action, Comedy",Movie,5.3,6800.0,34.0,2025.0,17235040.0,18000000.0,United States,https://www.imdb.com/title/tt30788842/?ref_=sr...,-0.042498,Fail
2,The Quick and the Dead,"Action, Drama, Romance, Thriller, Western",Movie,6.5,107000.0,49.0,1995.0,18636537.0,32000000.0,"United States, Japan",https://www.imdb.com/title/tt0114214/?ref_=sr_...,-0.417608,Success
3,The Equalizer,"Cop Drama, Police Procedural, Action, Crime, D...",TV Series,5.6,19000.0,NaN,2021.0,NaN,NaN,United States,https://www.imdb.com/title/tt11242246/?ref_=sr...,NaN,Fail
4,Goosebumps,"Teen Horror, Action, Adventure, Comedy, Drama,...",TV Series,6.7,15000.0,NaN,2023.0,NaN,NaN,"United States, Canada, France",https://www.imdb.com/title/tt17720272/?ref_=sr...,NaN,Fail

In [106]:
df.isnull().sum()

name               0
genres             0
type               0
rating           244
no_of_votes      244
meta_score      4348
release_date      58
gross           4461
budget          4887
countries         36
url                0
ROI             5140
result             0
dtype: int64

In [107]:
#dropna cột countries,rating, release_date, no_of_votes
df.dropna(subset=['countries', 'rating', 'release_date', 'no_of_votes'], inplace=True)
df.isnull().sum()

name               0
genres             0
type               0
rating             0
no_of_votes        0
meta_score      4049
release_date       0
gross           4150
budget          4603
countries          0
url                0
ROI             4828
result             0
dtype: int64

In [108]:
# Kiểm tra null trong cột 'gross'
df_Na = df[df.isnull().any(axis=1)]
df_Na.__len__()

df_TV = df_Na[df_Na['type'] == 'TV Series']
print(df_TV.isnull().sum())
df_tv = df[df['type'] == 'TV Series']
print("\n TV Series:")
print(df_tv.describe())

df_movies = df_Na[df_Na['type'] == 'Movie']
print("\n Movies:")
print(df_movies.describe())

# Hiển thị thông tin cơ bản
print(f"Số lượng mẫu có gross là null: {len(df_Na)}")
print(f"Tỷ lệ mẫu null trên tổng số: {len(df_Na)/len(df)*100:.2f}%")

print(f"\nSố lượng mẫu có gross là null và là TV: {len(df_TV)}")
print(f"Tỷ lệ mẫu null trên tổng số và là TV: {len(df_TV)/len(df_Na)*100:.2f}%")

name               0
genres             0
type               0
rating             0
no_of_votes        0
meta_score      3407
release_date       0
gross           3407
budget          3407
countries          0
url                0
ROI             3407
result             0
dtype: int64

 TV Series:
            rating   no_of_votes  meta_score  release_date  gross  budget  ROI
count  3407.000000  3.407000e+03         0.0   3407.000000    0.0     0.0  0.0
mean      7.365101  8.131378e+04         NaN   2010.945700    NaN     NaN  NaN
std       1.269203  1.837625e+05         NaN     14.204456    NaN     NaN  NaN
min       1.500000  6.000000e+00         NaN   1947.000000    NaN     NaN  NaN
25%       6.800000  1.300000e+03         NaN   2006.000000    NaN     NaN  NaN
50%       7.700000  1.100000e+04         NaN   2015.000000    NaN     NaN  NaN
75%       8.300000  8.000000e+04         NaN   2021.000000    NaN     NaN  NaN
max       9.600000  2.400000e+06         NaN   2025.000000    NaN     NaN  NaN

 Movies:
            rating    no_of_votes  meta_score  release_date         gross  \
count  1490.000000    1490.000000  848.000000   1490.000000  7.470000e+02
mean      6.806242   38456.777181   65.574292   1997.347651  2.487446e+07
std       0.960989   82035.505361   15.500974     31.393235  7.876179e+07
min       1.500000       6.000000   17.000000   1915.000000  4.300000e+01
25%       6.300000    2700.000000   55.000000   1965.250000  2.473390e+05
50%       6.900000   12000.000000   67.000000   2016.000000  3.199952e+06
75%       7.475000   39000.000000   78.000000   2024.000000  1.682488e+07
max       9.500000  940000.000000  100.000000   2025.000000  7.262255e+08

             budget        ROI
count  2.940000e+02  69.000000
mean   1.667563e+07  -0.099022
std    3.918496e+07   1.942422
min    1.000000e+04  -0.999969
25%    9.000000e+05  -0.991493
50%    2.344000e+06  -0.857612
75%    1.200000e+07  -0.346562
max    3.200000e+08  11.051371
Số lượng mẫu có gross là null: 4897
Tỷ lệ mẫu null trên tổng số: 63.75%

Số lượng mẫu có gross là null và là TV: 3407
Tỷ lệ mẫu null trên tổng số và là TV: 69.57%

- Nhận thấy phần lớn doanh thu, ngân sách, metascore Nan đến từ TV series

In [109]:
df.loc[df['type'] == 'TV Series', ['gross', 'budget','meta_score','ROI']] = df.loc[df['type'] == 'TV Series', ['gross', 'budget','meta_score','ROI']].fillna(0)
df.isnull().sum()

name               0
genres             0
type               0
rating             0
no_of_votes        0
meta_score       642
release_date       0
gross            743
budget          1196
countries          0
url                0
ROI             1421
result             0
dtype: int64

- Nhận thấy các đặc trưng bị NaN có sự phụ thuộc nhau, các phim bị thiếu thường là phim ít được quan tâm, ít đc nhà phê bình đánh giá. Vì vậy, có thể đoán đc doanh thu phim sẽ ko cao.

In [110]:
# Xử lý giá trị thiếu trong các cột số
# Meta_score: điền bằng giá trị ngẫu nhiên từ phân phối chuẩn
if 'meta_score' in df.columns and df['meta_score'].isnull().sum() > 0:
    # Tính tham số phân phối cho meta_score
    meta_mean = df['meta_score'].mean()
    meta_std = df['meta_score'].std()
    
    # Đếm số lượng giá trị null
    null_count = df['meta_score'].isnull().sum()
    
    # Tạo các giá trị ngẫu nhiên từ phân phối chuẩn
    random_values = np.random.normal(loc=meta_mean, scale=meta_std, size=null_count)
    
    # Đảm bảo giá trị nằm trong khoảng hợp lý (meta_score thường từ 0-100)
    random_values = np.clip(random_values, 0, 100)
    
    # Lấy chỉ số của các giá trị null
    null_indices = df['meta_score'].isnull()
    
    # Gán giá trị ngẫu nhiên vào vị trí null
    df.loc[null_indices, 'meta_score'] = pd.Series(random_values, index=df.index[null_indices])
    
    print(f"Cột meta_score: Đã điền {null_count} giá trị NaN bằng phân phối chuẩn với mean={meta_mean:.2f}, std={meta_std:.2f}")

# Các cột khác: điền bằng giá trị thấp nhất khác 0
for column in ['gross', 'budget', 'ROI']:
    # Tìm giá trị thấp nhất khác 0 (bỏ qua giá trị NaN và 0)
    non_zero_min = df[df[column] > 0][column].min()
    
    # Nếu không tìm thấy giá trị dương nào, sử dụng giá trị thấp nhất bất kỳ
    if pd.isna(non_zero_min):
        min_value = df[column].min()
        print(f"Cột {column}: Không tìm thấy giá trị dương, sử dụng giá trị thấp nhất {min_value:.2f}")
    else:
        min_value = non_zero_min
    
    # Đếm số lượng giá trị null
    null_count = df[column].isnull().sum()

    # Điền giá trị NaN bằng giá trị thấp nhất khác 0
    df[column] = df[column].fillna(min_value)
    
    # In thông tin
    print(f"Cột {column}: Đã điền {null_count} giá trị NaN bằng giá trị thấp nhất khác 0: {min_value:.2f}")
    
print("\nKiểm tra sau khi điền:")
print(df.head())
print("\nSố lượng giá trị thiếu còn lại:")
print(df.isnull().sum())

Cột meta_score: Đã điền 642 giá trị NaN bằng phân phối chuẩn với mean=33.91, std=34.82
Cột gross: Đã điền 743 giá trị NaN bằng giá trị thấp nhất khác 0: 19.00
Cột budget: Đã điền 1196 giá trị NaN bằng giá trị thấp nhất khác 0: 10000.00
Cột ROI: Đã điền 1421 giá trị NaN bằng giá trị thấp nhất khác 0: 0.00

Kiểm tra sau khi điền:
                     name                                             genres  \
0         Attack on Titan  Action Epic, Adult Animation, Anime, Shōnen, S...
1              Love Hurts                       Martial Arts, Action, Comedy
2  The Quick and the Dead          Action, Drama, Romance, Thriller, Western
3           The Equalizer  Cop Drama, Police Procedural, Action, Crime, D...
4              Goosebumps  Teen Horror, Action, Adventure, Comedy, Drama,...

        type  rating  no_of_votes  meta_score  release_date       gross  \
0  TV Series     9.1     591000.0         0.0        2013.0         0.0
1      Movie     5.3       6800.0        34.0        2025.0  17235040.0
2      Movie     6.5     107000.0        49.0        1995.0  18636537.0
3  TV Series     5.6      19000.0         0.0        2021.0         0.0
4  TV Series     6.7      15000.0         0.0        2023.0         0.0

       budget                      countries  \
0         0.0                          Japan
1  18000000.0                  United States
2  32000000.0           United States, Japan
3         0.0                  United States
4         0.0  United States, Canada, France

                                                 url       ROI   result
0  https://www.imdb.com/title/tt2560140/?ref_=sr_...  0.000000  Success
1  https://www.imdb.com/title/tt30788842/?ref_=sr... -0.042498     Fail
2  https://www.imdb.com/title/tt0114214/?ref_=sr_... -0.417608  Success
3  https://www.imdb.com/title/tt11242246/?ref_=sr...  0.000000     Fail
4  https://www.imdb.com/title/tt17720272/?ref_=sr...  0.000000     Fail

Số lượng giá trị thiếu còn lại:
name            0
genres          0
type            0
rating          0
no_of_votes     0
meta_score      0
release_date    0
gross           0
budget          0
countries       0
url             0
ROI             0
result          0
dtype: int64

In [111]:
# Bỏ các cột ko cần thiết
df = df.drop(columns=['name', 'url', 'result','ROI'])

print("Unique genres:", df['genres'].unique())
print("\nUnique countries:", df['countries'].unique())

Unique genres: ['Action Epic, Adult Animation, Anime, Shōnen, Survival, Tragedy, Action, Adventure, Animation, Drama'
 'Martial Arts, Action, Comedy'
 'Action, Drama, Romance, Thriller, Western' ...
 'Buddy Comedy, Martial Arts, Action, Adventure, Comedy, Western'
 'Classical Western, Costume Drama, Drama, Romance, Western'
 'Animal Adventure, Hand-Drawn Animation, Adventure, Animation, Drama, Family, Western']

Unique countries: ['Japan' 'United States' 'United States, Japan'
 'United States, Canada, France' 'United States, United Kingdom'
 'United States, Canada, Hungary' 'France, United Kingdom'
 'United Kingdom' 'United States, United Kingdom, Switzerland, Panama'
 'India' 'United States, Canada' 'United States, China, Malta'
 'Germany, Canada, United States' 'United States, Australia'
 'Ireland, Canada' 'United States, United Kingdom, Turkey'
 'China, United States' 'South Korea, Czech Republic'
 'United States, United Kingdom, Canada'
 'United Kingdom, United States, South Africa, Japan'
 'United States, Mexico, Canada'
 'United States, United Kingdom, Morocco, Canada, Malta'
 'United Kingdom, United States'
 'United Kingdom, United States, Puerto Rico' 'Canada'
 'Japan, United States' 'United States, Bulgaria, United Kingdom, Malta'
 'Canada, United States' 'Mexico' 'Australia, United States, Canada'
 'South Korea' 'Spain'
 'United States, Canada, United Kingdom, Iceland, Ireland, Australia'
 'Japan, South Korea' 'China' 'United States, Mexico, Hong Kong'
 'United States, United Kingdom, Czech Republic, Germany, Bahamas'
 'Australia, United States' 'United Kingdom, China, United States'
 'United States, France' 'France, Belgium'
 'Poland, Hungary, United States, United Kingdom' 'United States, Mexico'
 'United States, Hong Kong, Japan, South Korea, Germany'
 'United States, Norway'
 'United States, Canada, United Arab Emirates, Hungary, Italy, New Zealand, Jordan, Gambia'
 'United States, Mexico, Italy'
 'United States, United Kingdom, New Zealand, Canada'
 'United Kingdom, Germany, Spain, Morocco, United States, Italy, France'
 'United States, Japan, Canada, United Kingdom'
 'United States, Canada, Spain'
 'United States, United Kingdom, Malta, Morocco' 'United States, Germany'
 'United Kingdom, Iceland, Canada, United States'
 'United States, Canada, Japan' 'United States, South Korea'
 'United States, Hungary'
 'United States, France, United Kingdom, Hong Kong, Taiwan, Malta, Spain, Canada'
 'United States, United Kingdom, France, Czech Republic, Germany'
 'United States, United Kingdom, Canada, Japan'
 'France, South Korea, Japan, United States, Brazil, Canada, Italy'
 'United States, United Kingdom, Germany, Bulgaria'
 'United States, New Zealand, Canada'
 'United Kingdom, Italy, Switzerland, United States'
 'United States, Switzerland'
 'United Kingdom, United States, India, Spain, Canada'
 'United States, Canada, Bulgaria' 'United States, Japan, China'
 'United States, China' 'United States, Japan, United Kingdom'
 'South Africa, United States' 'United States, China, Japan'
 'Switzerland, United States' 'France, United States'
 'United States, New Zealand, Japan'
 'United States, United Kingdom, Finland'
 'United States, New Zealand, France, Canada' 'Japan, Poland'
 'United Kingdom, France'
 'United States, United Kingdom, Singapore, Canada, Czech Republic, Serbia, China'
 'United States, United Kingdom, Kenya'
 'United States, United Kingdom, Hungary, Jordan' 'Spain, United States'
 'Italy, Spain, West Germany, United States'
 'United States, Hong Kong, Taiwan, Argentina'
 'United Kingdom, Ireland, United States, Germany'
 'New Zealand, United States'
 'United States, Italy, Switzerland, Thailand, United Kingdom'
 'United States, India, Singapore, Canada, United Kingdom, Japan, Australia'
 'New Zealand, United States, United Kingdom'
 'United States, France, United Kingdom'
 'United Kingdom, France, Japan, United States'
 'United Kingdom, United States, Australia' 'South Korea, Japan'
 'Ireland, Switzerland, United Kingdom, United States'
 'United Kingdom, United States, China' 'Latvia, Belgium, France'
 'Poland, South Korea, United States'
 'Italy, Greece, United Kingdom, France'
 'United States, Canada, United Kingdom' 'Canada, Belgium, France'
 'United States, Japan, France'
 'United States, Hong Kong, Japan, Canada, New Zealand'
 'United Kingdom, United States, Iceland'
 'Italy, United Kingdom, France, Luxembourg' 'Japan, United Kingdom'
 'Japan, United States, France' 'United States, India'
 'United States, Canada, South Korea'
 'Australia, United Kingdom, United States'
 'United Kingdom, United States, Japan'
 'United States, Algeria, New Zealand'
 'United Kingdom, Canada, United States' 'United States, Brazil, Canada'
 'United Kingdom, Canada' 'United States, India, United Kingdom, Germany'
 'United States, Australia, New Zealand, Malaysia' 'Latvia'
 'United States, Canada, Luxembourg, United Kingdom, Russia'
 'United States, China, Taiwan, South Korea' 'United States, Malaysia'
 'Denmark, Canada, Portugal, United States'
 'United States, Denmark, Australia' 'Philippines, United States'
 'United Kingdom, Germany, Japan, United States'
 'United States, South Korea, Japan' 'United States, Japan, Canada'
 'United States, Czech Republic, United Kingdom'
 'Japan, United States, Canada' 'United States, Canada, Philippines'
 'Japan, Poland, United States' 'Norway'
 'United States, United Kingdom, Hong Kong' 'United States, France, Japan'
 'Australia'
 'United Kingdom, United States, New Zealand, France, Canada, India'
 'United States, Denmark, Australia, Norway'
 'United Kingdom, Australia, United States' 'Germany, United States'
 'New Zealand, Germany' 'United Kingdom, Germany, United States, Chile'
 'Germany, Austria, Italy' 'United States, United Kingdom, France'
 'United Kingdom, Australia'
 'United States, United Kingdom, South Africa, Italy' 'Italy'
 'Ireland, Belgium, United States' 'United Kingdom, United States, Canada'
 'Ireland, United Kingdom, United States'
 'United States, United Kingdom, Qatar'
 'Hungary, United Kingdom, Sweden, Norway, United States'
 'France, Poland, Germany, United Kingdom, United States'
 'Italy, United Kingdom, France' 'France'
 'United States, United Kingdom, Italy, Saudi Arabia'
 'United Kingdom, United States, Germany, Denmark, Belgium, Japan'
 'Mexico, United States' 'Denmark, Sweden, Norway, Germany'
 'United Arab Emirates, Saudi Arabia, Qatar, Morocco'
 'Malta, Poland, United States, Syria, Jordan, Russia, Ukraine, Israel'
 'United Kingdom, Australia, United States, South Africa, Germany'
 'United States, France, Chile, China' 'Italy, United States'
 'United States, United Kingdom, Germany'
 'United States, Hungary, Italy, United Kingdom, France'
 'United Kingdom, United States, China, France, Australia'
 'United States, Canada, China' 'United States, Argentina'
 'Ireland, United Kingdom' 'United States, Canada, Brazil, China'
 'United Kingdom, Switzerland' 'United Kingdom, United States, France'
 'United Kingdom, Germany, United States' 'Canada, Finland'
 'France, Japan, United States'
 'United States, Mexico, United Kingdom, France, Belgium, Iceland, Ireland, Hong Kong'
 'United Kingdom, France, United States'
 'United Kingdom, France, Germany, Canada, United States'
 'United Kingdom, Japan, United States' 'Australia, United Kingdom'
 'China, Italy, United Kingdom, France' 'United States, Australia, Spain'
 'France, Belgium, United Kingdom, Saudi Arabia, Russia, United States'
 'West Germany'
 'France, United Kingdom, United States, Argentina, Peru, Chile, Germany'
 'Libya' 'France, Belgium, Netherlands'
 'United States, Czech Republic, Spain' 'United States, Denmark'
 'United States, Morocco' 'United States, Romania'
 'Canada, Denmark, Ireland, United States' 'Germany'
 'India, United Kingdom, Australia, United States'
 'United States, China, Canada' 'France, Canada'
 'United States, United Kingdom, Germany, Netherlands, France, Italy, Morocco, Thailand'
 'Russia' 'United Kingdom, Italy, Argentina, United States'
 'United States, Italy'
 'United Kingdom, United States, Australia, Singapore, Hungary'
 'Italy, United States, United Kingdom'
 'United Kingdom, Hungary, United States, Australia' 'Turkey'
 'Brazil, France' 'United Kingdom, India'
 'Italy, Germany, Chile, United States' 'United States, Colombia'
 'United States, New Zealand'
 'United States, Belgium, United Kingdom, Ireland'
 'United States, Hong Kong'
 'United Kingdom, Czech Republic, Australia, United States'
 'United Kingdom, France, Ireland, United States' 'Netherlands'
 'United States, Chile' 'Philippines' 'United Kingdom, Belgium'
 'United States, United Kingdom, China' 'United States, Japan, Sweden'
 'United States, Poland' 'Ireland, United Kingdom, United States, Greece'
 'United States, Sweden, Canada, Ireland, United Kingdom'
 'France, Mexico, Belgium, United States' 'France, Germany'
 'France, Canada, United States'
 'Ireland, United Kingdom, United States, Hungary'
 'Czech Republic, New Zealand, United States, Germany'
 'United Kingdom, Sweden, Germany, Mexico, France, Turkey, Denmark, United States, Switzerland, Greece'
 'Sweden, United States' 'Sweden' 'Chile, Israel, United States'
 'United States, Spain' 'United States, Canada, Singapore, India'
 'United States, Canada, Australia' 'Canada, United Kingdom'
 'United States, United Kingdom, New Zealand'
 'United States, United Kingdom, Japan' 'Sweden, Denmark' 'New Zealand'
 'Ukraine, United States' 'France, Italy, Brazil'
 'United Kingdom, United States, Canada, Malaysia' 'Colombia'
 'United States, Japan, Germany, Chile, Canada, United Kingdom'
 'Belgium, West Germany, France, United Kingdom'
 'United Kingdom, Denmark, Indonesia, Norway'
 'United States, Ukraine, Australia'
 'France, Tunisia, Germany, Saudi Arabia, Cyprus' 'South Africa'
 'Australia, Thailand' 'United Kingdom, Ukraine, United States'
 'France, Senegal, Benin, Singapore' 'Soviet Union'
 'United States, Indonesia, Singapore, Thailand, Kenya, Denmark, Brazil, Jordan, United Arab Emirates, Saudi Arabia, South Africa, Italy, Ghana, Egypt, China, Japan, South Korea'
 'Occupied Palestinian Territory, Norway'
 'Switzerland, Germany, United Kingdom'
 'Israel, France, Germany, United States, Finland, Switzerland, Belgium, Australia'
 'Occupied Palestinian Territory, France, Qatar, United Arab Emirates, Switzerland, Denmark'
 'United States, Bulgaria' 'United Kingdom, New Zealand'
 'United States, Canada, Germany' 'Spain, France, Portugal'
 'United States, United Kingdom, Japan, France, Australia, Canada'
 'United Kingdom, Belgium, Sweden' 'Japan, Colombia'
 'Denmark, France, Norway, Sweden, Netherlands, United Kingdom, United States, Finland, Spain, Estonia, Slovenia, Belgium'
 'Sweden, United Kingdom, Finland' 'Belgium, France, Netherlands'
 'United Kingdom, Spain' 'Italy, France' 'United Kingdom, Netherlands'
 'United States, Netherlands' 'Netherlands, United States'
 'Denmark, Poland, Sweden, France, Belgium'
 'United Arab Emirates, United States, Romania'
 'United Kingdom, Australia, United States, Canada'
 'Ireland, United States'
 'United Kingdom, Australia, New Zealand, United States'
 'China, Hong Kong, United States' 'Hong Kong, United States'
 'United Kingdom, United States, Denmark, Canada, Italy'
 'West Germany, United States'
 'United States, Italy, Canada, Japan, United Kingdom'
 'United States, Japan, Indonesia, Mexico, Chile, New Zealand, Malaysia'
 'United States, Japan, United Kingdom, Canada'
 'United States, Hong Kong, Canada'
 'United States, Spain, France, Canada, United Kingdom, China, Italy, Germany'
 'United States, Canada, Italy, United Kingdom'
 'United States, United Kingdom, Slovakia'
 'United States, United Kingdom, Belgium, Canada'
 'United Kingdom, United States, Japan, France' 'Switzerland, Brazil'
 'United States, Australia, United Kingdom, Canada'
 'China, United States, Canada'
 'United States, Japan, Canada, Iceland, United Kingdom'
 'United States, Australia, Canada, Mexico, India, United Kingdom'
 'United States, South Africa, India' 'Germany, United States, Canada'
 'France, Spain, Switzerland' 'United States, Portugal' 'Romania' 'Brazil'
 'United States, South Korea, Germany' 'Mexico, United Kingdom'
 'Canada, United States, Ireland' 'Finland' 'Australia, New Zealand'
 'United States, United Kingdom, India, China, Canada'
 'Australia, United States, United Kingdom, Singapore, India'
 'United Kingdom, Netherlands, France, United States'
 'United Kingdom, Austria' 'United States, India, Germany'
 'West Germany, Mexico' 'Norway, Belgium'
 'Czech Republic, France, United States' 'Czech Republic'
 'Spain, Malta, Bulgaria, United States'
 'United Kingdom, France, United States, Czech Republic'
 'Germany, Austria' 'Saudi Arabia'
 'United States, France, Germany, United Kingdom'
 'France, United Kingdom, Belgium, Canada, United States'
 'United States, South Africa, New Zealand, Germany'
 'United Kingdom, Italy, France, United States'
 'United Kingdom, Australia, New Zealand' 'United Kingdom, Italy, France'
 'Czech Republic, United States, Russia'
 'United States, Romania, United Kingdom, France, Russia'
 'United States, United Kingdom, Italy, Taiwan, Mexico, Japan'
 'United Kingdom, Malawi, United States, Kenya'
 'United Kingdom, France, Germany, Italy, Spain, Japan, United States'
 'Hong Kong' 'Italy, France, Belgium' 'United States, India, Jordan'
 'United Kingdom, France, United States, Germany'
 'United Kingdom, Poland, United States'
 'Taiwan, United States, Hong Kong, China' 'Czech Republic, Slovakia'
 'United Kingdom, Italy'
 'United States, Poland, United Arab Emirates, India'
 'United States, Canada, China, Hong Kong'
 'Spain, Thailand, United States'
 'Ireland, Canada, United States, United Kingdom'
 'Italy, France, West Germany' 'France, Germany, Spain, Belgium'
 'United Kingdom, Germany, Canada, United States'
 'Canada, Germany, United States, United Kingdom'
 'United States, South Africa, Ireland'
 'United States, Italy, United Kingdom, China' 'United States, Malta'
 'United States, Hungary, Ireland, Canada' 'Austria, Germany' 'Hungary'
 'Germany, United States, United Kingdom'
 'United States, United Kingdom, India' 'Argentina, United States'
 'United States, China, Thailand, Germany, Canada, United Kingdom'
 'Canada, United States, Germany, France' 'Indonesia'
 'United States, New Zealand, Ireland' 'India, Sweden'
 'United States, Germany, Canada'
 'Australia, United Arab Emirates, United States'
 'China, Japan, United States' 'Bulgaria, United States'
 'West Germany, France' 'United Kingdom, Canada, United States, Finland'
 'France, West Germany'
 'United Kingdom, United States, Hungary, Australia, New Zealand, Canada'
 'Denmark, Germany, France, Sweden, Italy, Poland' 'Chile'
 'Canada, France, Japan' 'United Kingdom, Spain, United States'
 'United States, Croatia, Canada' 'Canada, France'
 'United States, Italy, Serbia, Canada'
 'Germany, United Kingdom, France, Japan, United States'
 'Ireland, New Zealand, United States'
 'United States, United Kingdom, South Africa'
 'United States, United Kingdom, Australia'
 'Canada, Croatia, Hungary, United States, France'
 'Denmark, France, Sweden, Germany, Belgium'
 'France, United Kingdom, Germany, Poland, United States'
 'United Kingdom, Switzerland, United States'
 'United States, Ireland, Canada' 'Serbia' 'Spain, France, United States'
 'United States, Sweden' 'Ireland'
 'United States, Australia, United Kingdom' 'France, United States, Japan'
 'United Kingdom, Belgium, United States' 'Canada, France, United States'
 'United States, Iceland, Japan'
 'Canada, Germany, Hungary, United Kingdom, United States'
 'Australia, Canada' 'United States, Estonia'
 'Canada, Japan, United States'
 'United States, United Kingdom, Bulgaria, Canada, Portugal, France'
 'United States, Canada, Japan, France' 'Ireland, Belgium, Denmark'
 'Poland, United Kingdom, France, Belgium, India'
 'United Kingdom, France, Germany, United States'
 'Germany, Poland, Belgium' 'France, Austria, Germany'
 'France, Germany, Belgium, Japan, Mexico, Switzerland, United States'
 'United States, Iraq, Canada' 'China, Hong Kong'
 'France, Poland, Switzerland' 'West Germany, Peru'
 'United States, Canada, Bulgaria, Ireland, Philippines, China, Austria, Brazil, Belgium'
 'Iceland, China, United Kingdom, United States'
 'United Kingdom, China, Japan, United States'
 'United States, Iceland, Canada' 'Brazil, United States'
 'France, Poland, Norway' 'New Zealand, Australia, France'
 'France, United Kingdom, Czech Republic' 'United Kingdom, Ireland'
 'France, Italy'
 'United States, United Kingdom, Denmark, Australia, Canada, India'
 'Bahamas, United States' 'United States, Italy, Canada'
 'United States, Ireland, Singapore'
 'Switzerland, United Kingdom, France, Italy'
 'Italy, United Kingdom, United States' 'Italy, France, United States'
 'Norway, United Kingdom, Canada'
 'Australia, United States, United Kingdom'
 'Denmark, Germany, Ireland, Italy, United Kingdom, Sweden, United States'
 'United States, United Kingdom, Italy' 'United States, Japan, Taiwan'
 'India, United States' 'United Kingdom, United States, India, France'
 'United Kingdom, United States, Japan, China, Croatia'
 'United States, Japan, New Zealand, South Korea, Philippines, Taiwan'
 'United States, Australia, France, Canada, Spain'
 'Serbia and Montenegro, United States'
 'Australia, United States, South Korea, Taiwan, United Kingdom, France, Canada, Thailand, Denmark'
 'United States, Canada, Italy'
 'United Kingdom, United States, Canada, Australia, Japan, China'
 'Denmark, Germany, Netherlands, Italy, United States, United Kingdom, France, Sweden, Finland, Iceland, Norway'
 'Denmark, Norway, Australia, United States' 'Brazil, France, Italy'
 'Ireland, United States, Denmark, United Kingdom, Spain, Canada, Hungary, Poland'
 'United States, South Korea, Japan, Canada'
 'Hong Kong, Austria, United States'
 'United States, France, Luxembourg, Germany, Canada, United Kingdom'
 'China, Lithuania, United States, United Kingdom, Canada, India'
 'United States, Mexico, France' 'United Kingdom, United States, Italy'
 'Singapore, United States, Poland, Thailand'
 'United States, New Zealand, Canada, United Kingdom'
 'United States, India, China, Philippines'
 'Ireland, United Kingdom, United States, France'
 'United Kingdom, United States, Australia, Canada, Denmark'
 'United States, United Kingdom, West Germany'
 'South Africa, United Kingdom'
 'United Kingdom, France, United States, Canada'
 'France, United States, United Kingdom'
 'United States, Czech Republic, United Kingdom, Canada, Thailand, Denmark, France, Cambodia, Vietnam'
 'Denmark' 'Canada, United States, United Kingdom'
 'Denmark, Bangladesh, China, New Zealand, United States'
 'United States, United Kingdom, Thailand, Swaziland, South Korea, South Africa, Rwanda, Russia, Peru, Kenya, Italy, Ireland, India, Haiti, Georgia, Ethiopia, Dominican Republic, Cambodia, Bangladesh, Argentina'
 'United Kingdom, Germany'
 'Australia, Canada, United States, United Kingdom'
 'West Germany, Germany' 'United Kingdom, United States, Canada, Spain'
 'Germany, Austria, Taiwan, United States'
 'United States, India, United Kingdom' 'Portugal'
 'Mexico, Panama, United States' 'United States, China, Germany'
 'United Kingdom, Egypt, United States'
 'United States, Tanzania, Spain, Portugal, Poland, Pakistan, Netherlands, Ireland, Indonesia, Ecuador'
 'United States, China, Hong Kong, Indonesia, Mexico, United Kingdom, Japan'
 'Germany, France' 'China, Canada' 'West Germany, Austria, Switzerland'
 'India, United Kingdom' 'Canada, Germany' 'Poland' 'United Arab Emirates'
 'Belgium' 'United States, Mexico, Australia, Canada'
 'United States, Germany, Switzerland'
 'France, India, Netherlands, Luxembourg, Italy, Switzerland, United States, Belgium'
 'United Kingdom, France, Italy, United States' 'France, Belgium, Spain'
 'United States, New Zealand, Germany'
 'United States, Germany, Sweden, France, United Kingdom'

In [112]:
# Chuyển genres và countries thành danh sách (nếu chứa nhiều giá trị)
df['genres'] = df['genres'].str.split(',')
df['countries'] = df['countries'].str.split(',')

### One-Hot Encoding cho "genres" và "countries"

In [113]:
# Mã hóa genres với index được bảo toàn
mlb_genres = MultiLabelBinarizer()
genres_encoded = pd.DataFrame(
    mlb_genres.fit_transform(df['genres']), 
    columns=mlb_genres.classes_,
    index=df.index  # Quan trọng: giữ nguyên index
)

# Mã hóa countries với index được bảo toàn
mlb_countries = MultiLabelBinarizer()
countries_encoded = pd.DataFrame(
    mlb_countries.fit_transform(df['countries']), 
    columns=mlb_countries.classes_,
    index=df.index  # Quan trọng: giữ nguyên index
)

# Loại bỏ các cột gốc và thêm các cột mã hóa
df_without_encoded = df.drop(columns=['genres', 'countries'])
df = pd.concat([df_without_encoded, genres_encoded, countries_encoded], axis=1)

# Kiểm tra kết quả
df.head()

,type,rating,no_of_votes,meta_score,release_date,gross,budget,Action,Adult Animation,Adventure,...,Sweden,Switzerland,Taiwan,Turkey,Ukraine,United Arab Emirates,United Kingdom,United States,West Germany,Yugoslavia
0,TV Series,9.1,591000.0,0.0,2013.0,0.0,0.0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,Movie,5.3,6800.0,34.0,2025.0,17235040.0,18000000.0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,Movie,6.5,107000.0,49.0,1995.0,18636537.0,32000000.0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,TV Series,5.6,19000.0,0.0,2021.0,0.0,0.0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
4,TV Series,6.7,15000.0,0.0,2023.0,0.0,0.0,1,0,1,...,0,0,0,0,0,0,0,1,0,0

In [114]:
df.isnull().sum()

type                    0
rating                  0
no_of_votes             0
meta_score              0
release_date            0
                       ..
United Arab Emirates    0
United Kingdom          0
United States           0
West Germany            0
Yugoslavia              0
Length: 549, dtype: int64

### Label Encoding cho "type"

In [115]:
label_encoder_type = LabelEncoder()
df['type'] = label_encoder_type.fit_transform(df['type'])
df.head()

,type,rating,no_of_votes,meta_score,release_date,gross,budget,Action,Adult Animation,Adventure,...,Sweden,Switzerland,Taiwan,Turkey,Ukraine,United Arab Emirates,United Kingdom,United States,West Germany,Yugoslavia
0,1,9.1,591000.0,0.0,2013.0,0.0,0.0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,0,5.3,6800.0,34.0,2025.0,17235040.0,18000000.0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0,6.5,107000.0,49.0,1995.0,18636537.0,32000000.0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,1,5.6,19000.0,0.0,2021.0,0.0,0.0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
4,1,6.7,15000.0,0.0,2023.0,0.0,0.0,1,0,1,...,0,0,0,0,0,0,0,1,0,0

In [116]:
df.isnull().sum()

type                    0
rating                  0
no_of_votes             0
meta_score              0
release_date            0
                       ..
United Arab Emirates    0
United Kingdom          0
United States           0
West Germany            0
Yugoslavia              0
Length: 549, dtype: int64

In [117]:
df.to_csv("movies_data_encoded_full.csv", index=False)