In [37]:
from audioop import ratecv

import pandas as pd

movie_df = pd.read_csv('movies_data.csv')
movie_df.head(100)

,name,genres,type,rating,no_of_votes,meta_score,release_date,gross,bugdet,countries,url
0,Attack on Titan,"Action Epic, Adult Animation, Anime, Shōnen, S...",TV Series,9.1,591K,NaN,"September 28, 2013 (United States)",NaN,NaN,Japan,https://www.imdb.com/title/tt2560140/?ref_=sr_...
1,Love Hurts,"Martial Arts, Action, Comedy",Movie,5.3,6.8K,34.0,"February 7, 2025 (United States)","$17,235,040","$18,000,000 (estimated)",United States,https://www.imdb.com/title/tt30788842/?ref_=sr...
2,The Quick and the Dead,"Action, Drama, Romance, Thriller, Western",Movie,6.5,107K,49.0,"February 10, 1995 (United States)","$18,636,537","$32,000,000 (estimated)","United States, Japan",https://www.imdb.com/title/tt0114214/?ref_=sr_...
3,The Equalizer,"Cop Drama, Police Procedural, Action, Crime, D...",TV Series,5.6,19K,NaN,"February 7, 2021 (United States)",NaN,NaN,United States,https://www.imdb.com/title/tt11242246/?ref_=sr...
4,Goosebumps,"Teen Horror, Action, Adventure, Comedy, Drama,...",TV Series,6.7,15K,NaN,"October 13, 2023 (United States)",NaN,NaN,"United States, Canada, France",https://www.imdb.com/title/tt17720272/?ref_=sr...
...,...,...,...,...,...,...,...,...,...,...,...
95,Lilo & Stitch,"Action, Adventure, Comedy, Drama, Family, Fant...",Movie,NaN,NaN,NaN,"May 23, 2025 (United States)",NaN,NaN,United States,https://www.imdb.com/title/tt11655566/?ref_=sr...
96,Warfare,"Docudrama, War Epic, Action, Drama, War",Movie,NaN,NaN,NaN,"April 11, 2025 (United States)",NaN,NaN,"United States, United Kingdom",https://www.imdb.com/title/tt31434639/?ref_=sr...
97,Troy,"Epic, Sword & Sandal, Tragedy, Action, Adventu...",Movie,7.3,589K,56.0,"May 14, 2004 (United States)","$497,409,852","$175,000,000 (estimated)","United States, Bulgaria, United Kingdom, Malta",https://www.imdb.com/title/tt0332452/?ref_=sr_...
98,Spider-Man: No Way Home,"Superhero, Supernatural Fantasy, Urban Adventu...",Movie,8.2,938K,71.0,"December 17, 2021 (United States)","$1,952,732,181","$200,000,000 (estimated)",United States,https://www.imdb.com/title/tt10872600/?ref_=sr...
99,Watchmen,"Dystopian Sci-Fi, Superhero, Action, Drama, My...",Movie,7.6,596K,56.0,"March 6, 2009 (United States)","$185,382,813","$130,000,000 (estimated)",United States,https://www.imdb.com/title/tt0409459/?ref_=sr_...

In [38]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7994 entries, 0 to 7993
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          7994 non-null   object
 1   genres        7994 non-null   object
 2   type          7994 non-null   object
 3   rating        7750 non-null   float64
 4   no_of_votes   7750 non-null   object
 5   meta_score    3646 non-null   float64
 6   release_date  7936 non-null   object
 7   gross         3533 non-null   object
 8   bugdet        3237 non-null   object
 9   countries     7958 non-null   object
 10  url           7994 non-null   object
dtypes: float64(2), object(9)
memory usage: 687.1+ KB

In [39]:
import numpy as np
def convert_votes(vote):
    try:
        vote = str(vote)
        if vote is None or vote == '':
            return np.nan
        elif vote.endswith("K"):
            return int(float(vote[:-1]) * 1000)
        elif vote.endswith("M"):
            return int(float(vote[:-1]) * 1000000)
        return int(vote)
    except:
        return np.nan
movie_df["no_of_votes"] = movie_df["no_of_votes"].apply(convert_votes).astype('Int64')
movie_df["no_of_votes"]

0       591000
1         6800
2       107000
3        19000
4        15000
         ...
7989      1100
7990    451000
7991     12000
7992     11000
7993     90000
Name: no_of_votes, Length: 7994, dtype: Int64

In [40]:
def convert_released_day(date):
    try:
        return date.split()[2]
    except:
        return np.nan


movie_df["release_date"] = movie_df["release_date"].apply(convert_released_day).astype("str")
movie_df["release_date"]

0       2013
1       2025
2       1995
3       2021
4       2023
        ...
7989    1967
7990    1992
7991    2016
7992    1953
7993    2002
Name: release_date, Length: 7994, dtype: object

In [41]:
def convert_gross_bugget(money):
    try:
        money = str(money).split()[0]
        if money is None or money == '':
            return np.nan
        if money.startswith("$"):
            money = money[1:]
        money = money.replace(",", "")
        return float(money)
    except:
        return np.nan
movie_df["gross"] = movie_df["gross"].apply(convert_gross_bugget).astype('float')
movie_df["bugdet"]= movie_df["bugdet"].apply(convert_gross_bugget).astype('float')

movie_df[["gross", "bugdet"]]

            gross      bugdet
0             NaN         NaN
1      17235040.0  18000000.0
2      18636537.0  32000000.0
3             NaN         NaN
4             NaN         NaN
...           ...         ...
7989          NaN         NaN
7990  159167799.0  14400000.0
7991      20672.0  10000000.0
7992       7150.0         NaN
7993  122563539.0  80000000.0

[7994 rows x 2 columns]

In [42]:
movie_df["ROI"] = movie_df.apply(lambda x: (x["gross"] - x["bugdet"]) / x["bugdet"] if x["bugdet"] != 0 else np.nan, axis=1)
movie_df["ROI"]

0             NaN
1       -0.042498
2       -0.417608
3             NaN
4             NaN
          ...
7989          NaN
7990    10.053319
7991    -0.997933
7992          NaN
7993     0.532044
Name: ROI, Length: 7994, dtype: float64

In [43]:
movie_df.describe()

,rating,no_of_votes,meta_score,gross,bugdet,ROI
count,7750.000000,7750.0,3646.000000,3.533000e+03,3.107000e+03,2854.000000
mean,7.158168,161952.589419,65.626440,2.032361e+08,5.872758e+07,4.677386
std,1.109296,297418.589697,16.171655,3.292970e+08,6.531551e+07,12.806288
min,1.500000,6.0,10.000000,1.900000e+01,1.000000e+04,-0.999983
25%,6.600000,4525.0,54.000000,1.345060e+07,1.200000e+07,0.323698
50%,7.300000,44000.0,66.000000,6.644330e+07,3.200000e+07,2.013630
75%,7.900000,180750.0,78.000000,2.457246e+08,9.000000e+07,4.700007
max,9.600000,3000000.0,100.000000,2.923711e+09,4.149000e+08,316.627031

In [46]:
def make_success_label(row):
    rating = row["rating"]
    ROI = row["ROI"]
    no_of_votes = row["no_of_votes"]
    meta_score = row["meta_score"]
    # Kiểm tra tất cả đều NaN
    try:
        if pd.isna(rating) and pd.isna(ROI) and pd.isna(no_of_votes) and pd.isna(meta_score):
            return "Unknown"
        
        if ROI > 1 or rating > 7.0 or no_of_votes > 100000 or meta_score > 70:
            return "Success"
        return "Fail"
    except:
        return "Unknown"
movie_df["result"] = movie_df.apply(make_success_label, axis=1)
movie_df.head()

,name,genres,type,rating,no_of_votes,meta_score,release_date,gross,bugdet,countries,url,ROI,result
0,Attack on Titan,"Action Epic, Adult Animation, Anime, Shōnen, S...",TV Series,9.1,591000,NaN,2013,NaN,NaN,Japan,https://www.imdb.com/title/tt2560140/?ref_=sr_...,NaN,Success
1,Love Hurts,"Martial Arts, Action, Comedy",Movie,5.3,6800,34.0,2025,17235040.0,18000000.0,United States,https://www.imdb.com/title/tt30788842/?ref_=sr...,-0.042498,Fail
2,The Quick and the Dead,"Action, Drama, Romance, Thriller, Western",Movie,6.5,107000,49.0,1995,18636537.0,32000000.0,"United States, Japan",https://www.imdb.com/title/tt0114214/?ref_=sr_...,-0.417608,Success
3,The Equalizer,"Cop Drama, Police Procedural, Action, Crime, D...",TV Series,5.6,19000,NaN,2021,NaN,NaN,United States,https://www.imdb.com/title/tt11242246/?ref_=sr...,NaN,Fail
4,Goosebumps,"Teen Horror, Action, Adventure, Comedy, Drama,...",TV Series,6.7,15000,NaN,2023,NaN,NaN,"United States, Canada, France",https://www.imdb.com/title/tt17720272/?ref_=sr...,NaN,Fail

In [47]:
processed_movie_df = pd.read_csv("movies_data_processed.csv")
processed_movie_df.head(10)

,name,genres,type,rating,no_of_votes,meta_score,release_date,gross,bugdet,countries,url,ROI,result
0,Attack on Titan,"Action Epic, Adult Animation, Anime, Shōnen, S...",TV Series,9.1,591000.0,NaN,2013,NaN,NaN,Japan,https://www.imdb.com/title/tt2560140/?ref_=sr_...,NaN,Success
1,Love Hurts,"Martial Arts, Action, Comedy",Movie,5.3,6800.0,34.0,2025,17235040.0,18000000.0,United States,https://www.imdb.com/title/tt30788842/?ref_=sr...,-0.042498,Fail
2,The Quick and the Dead,"Action, Drama, Romance, Thriller, Western",Movie,6.5,107000.0,49.0,1995,18636537.0,32000000.0,"United States, Japan",https://www.imdb.com/title/tt0114214/?ref_=sr_...,-0.417608,Success
3,The Equalizer,"Cop Drama, Police Procedural, Action, Crime, D...",TV Series,5.6,19000.0,NaN,2021,NaN,NaN,United States,https://www.imdb.com/title/tt11242246/?ref_=sr...,NaN,Fail
4,Goosebumps,"Teen Horror, Action, Adventure, Comedy, Drama,...",TV Series,6.7,15000.0,NaN,2023,NaN,NaN,"United States, Canada, France",https://www.imdb.com/title/tt17720272/?ref_=sr...,NaN,Fail
5,Puss in Boots: The Last Wish,"Animal Adventure, Computer Animation, Fairy Ta...",Movie,7.8,200000.0,73.0,2022,481757663.0,90000000.0,"United States, Japan",https://www.imdb.com/title/tt3915174/?ref_=sr_...,4.352863,Success
6,Star Trek,"Sci-Fi Epic, Space Sci-Fi, Action, Adventure, ...",TV Series,8.4,96000.0,NaN,1966,NaN,NaN,United States,https://www.imdb.com/title/tt0060028/?ref_=sr_...,NaN,Success
7,Fullmetal Alchemist: Brotherhood,"Anime, Shōnen, Steampunk, Action, Adventure, A...",TV Series,9.1,217000.0,NaN,2009,NaN,NaN,Japan,https://www.imdb.com/title/tt1355642/?ref_=sr_...,NaN,Success
8,Road House,"Action Epic, Action, Drama, Thriller",Movie,6.2,165000.0,57.0,2024,NaN,85000000.0,United States,https://www.imdb.com/title/tt3359350/?ref_=sr_...,NaN,Success
9,Game of Thrones,"Action Epic, Dark Fantasy, Epic, Fantasy Epic,...",TV Series,9.2,2400000.0,NaN,2011,NaN,NaN,"United States, United Kingdom",https://www.imdb.com/title/tt0944947/?ref_=sr_t_7,NaN,Success