In [31]:
import pandas as pd
import numpy as np
from sklearn.feature_selection import SelectKBest, f_regression
import matplotlib.pyplot as plt

In [32]:
# Đọc file đã mã hóa trước đó
file_path = "movies_data_encoded_full.csv"
df = pd.read_csv(file_path)

# Kiểm tra dữ liệu
df.head()

,type,rating,no_of_votes,meta_score,release_date,gross,budget,Action,Adult Animation,Adventure,...,Sweden,Switzerland,Taiwan,Turkey,Ukraine,United Arab Emirates,United Kingdom,United States,West Germany,Yugoslavia
0,1,9.1,591000.0,10.0,2013.0,19.0,10000.0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,0,5.3,6800.0,34.0,2025.0,17235040.0,18000000.0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0,6.5,107000.0,49.0,1995.0,18636537.0,32000000.0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,1,5.6,19000.0,10.0,2021.0,19.0,10000.0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
4,1,6.7,15000.0,10.0,2023.0,19.0,10000.0,1,0,1,...,0,0,0,0,0,0,0,1,0,0

In [33]:
df.isnull().sum()

type                    0
rating                  0
no_of_votes             0
meta_score              0
release_date            0
                       ..
United Arab Emirates    0
United Kingdom          0
United States           0
West Germany            0
Yugoslavia              0
Length: 549, dtype: int64

In [34]:
# Cột 'gross' là giá trị cần dự đoán
y = df['gross']
X = df.drop(columns=['gross'])

In [35]:
# Chọn số lượng đặc trưng tốt nhất (ví dụ: 20 đặc trưng)
k = 30
selector = SelectKBest(score_func=f_regression, k=k)
X_selected = selector.fit_transform(X, y)

# Lấy danh sách các đặc trưng được chọn
selected_features = X.columns[selector.get_support()]
feature_scores = selector.scores_[selector.get_support()]

In [36]:
# Tạo DataFrame hiển thị tên đặc trưng và điểm số quan trọng
feature_importance = pd.DataFrame({
    'Feature': selected_features,
    'Score': feature_scores
}).sort_values(by="Score", ascending=False)

# In danh sách đặc trưng quan trọng
print(feature_importance)

                Feature         Score
3                budget  10888.968356
1           no_of_votes   2953.544608
2            meta_score   1439.323322
5             Adventure   1270.749755
0                  type   1006.009311
11               Family    498.288185
22          Action Epic    457.755937
6        Adventure Epic    450.964408
12              Fantasy    409.276463
8    Computer Animation    390.357454
24   Computer Animation    384.901598
10           Fairy Tale    353.520931
16               Sci-Fi    294.472290
4                Action    283.609341
21      Urban Adventure    272.499355
17          Sci-Fi Epic    270.411251
15                Quest    251.505803
19            Superhero    230.741033
29       United Kingdom    224.160564
13         Fantasy Epic    212.525697
7             Animation    211.075462
20       Teen Adventure    205.850903
18        Sea Adventure    189.992618
25   Dinosaur Adventure    188.023834
23     Animal Adventure    135.357562
14     Jungle Adventure    129.597308
28                Japan    124.540158
9                  Epic    123.351221
26      Sword & Sorcery    113.673874
27               Canada     99.357776

### Kết luận:
- Budget, votes, meta_score chiếm vai trò quan trọng trong dự đoán doanh thu.
- Type cũng có vài trò quan trọng nhưng TV series thường ko có doanh thu, có thể do quá trình fillna làm nhiễu doanh thu của type nên cần xem xét cẩn thận.
- Các thể loại phim và quốc gia nhất định có vài trò quan trọng đáng kể.