In [2]:
import pandas as pd
df = pd.read_csv("movies_data_processed_v2.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2084 entries, 0 to 2083
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          2084 non-null   object
 1   genres        2084 non-null   object
 2   rating        2084 non-null   float64
 3   no_of_votes   2084 non-null   int64
 4   meta_score    2084 non-null   float64
 5   release_date  2084 non-null   float64
 6   gross         2084 non-null   float64
 7   budget        2084 non-null   float64
 8   countries     2084 non-null   object
dtypes: float64(5), int64(1), object(3)
memory usage: 146.7+ KB

In [3]:
df.head()

,name,genres,rating,no_of_votes,meta_score,release_date,gross,budget,countries
0,Love Hurts,"Martial Arts, Action, Comedy",5.3,6800,34.0,2025.0,17235040.0,18000000.0,United States
1,The Quick and the Dead,"Action, Drama, Romance, Thriller, Western",6.5,107000,49.0,1995.0,18636537.0,32000000.0,"United States, Japan"
2,Puss in Boots: The Last Wish,"Animal Adventure, Computer Animation, Fairy Ta...",7.8,200000,73.0,2022.0,481757663.0,90000000.0,"United States, Japan"
3,The Fifth Element,"Sci-Fi Epic, Space Sci-Fi, Action, Adventure, ...",7.6,524000,52.0,1997.0,263920180.0,25000000.0,"France, United Kingdom"
4,Superman,"Sci-Fi Epic, Superhero, Urban Adventure, Actio...",7.4,195000,82.0,1978.0,300478449.0,55000000.0,"United States, United Kingdom, Switzerland, Pa..."